#body
{
  text-align: center;
  font-size: 25px;
  color: #cbecff !important;
}

#title{
  font-size: 50px;
  padding: 2%;
}
#text{

  padding-bottom: 2%;
}

#img
{
  border-radius: 100px;
}

#link
{
  color: #2a6fdb;
}
