.sign
{
  margin: 2px;
  height: 700px;
  text-align: center;
  font-size: 28px;
}

#formulario
{
  margin-top: 20px;
  text-align: center;
  width: 570px;
  border: solid;
  border-radius: 15px;
  margin-left: 29.5%;
  background-color: #1a4a95;
}

h3
{
  margin-top:15px;
}

#send
{
  height: 40px;
  width: 100px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #2a6fdb;
}

.block
{
  width: 300px;
  height: 20px;
}

#date
{
 font-size: 20px;
}

#gender
{
  margin-left: 0%;
  font-size: 20px;
}

#sex
{
  width: 150px;
  height: 20px;
}

#birth
{
  width: 150px;
  height: 20px;
}
#title{
  font-size: 50px;
  padding: 2%;
}
