.sign
{
  height: 700px;
  text-align: center;
  font-size: 28px;
}

#formulario
{
  text-align: center;
  width: 380px;
  border: solid;
  border-radius: 15px;
  margin-left: 35.5%;
  background-color: #cbecff;
}

#send
{
  height: 40px;
  width: 100px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #2a6fdb;
}
